body {
    background-image: url(https://wallpaperaccess.com/full/99791.jpg);
}

#navText {
    color: white;
}

#containers {
    background-image: url(https://wallpaperaccess.com/full/99791.jpg);
    color: white;
}
